$color_1: #635bff;
$color_2: #FFF;

ul.menu {
	li.menu-item.current-menu-item {
		>a {
			color: $color_1 !important;
		}
	}
}
@media (max-width: 842px) {
	#primary-menu {
		.head-menu {
			#main-menu {
				transition: all 0.3s ease;
				li {
					a {
						font-size: 16px;
						color: $color_2;
					}
				}
			}
		}
		.head-menu.active {
			#main-menu {
				opacity: 1;
				z-index: 1001;
				pointer-events: inherit;
			}
		}
	}
	body {
		opacity: 1;
		z-index: 99;
	}
}