$padding-item: 0.7rem;

.reviews-list {
    margin-left: -$padding-item;
    margin-right: -$padding-item;
    padding-top: 1rem;
    @include clearfix();
}

.review-card {
    padding: $padding-item;
    float: left;
    width: calc(100% / 2);
    padding-top: 1.5rem;

    &:hover {
        .review-card-title {
            color: $primary;
        }
    }
}

.review-card-inner {
    background-color: $white;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow-sm;
}

.review-card-head {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: -2rem;
}

.review-card-bg {
    min-width: 6rem;
    min-height: 6rem;
    border-radius: $border-radius;
    background-position: center;
    background-size: cover;
}

.review-card-title {
    font-weight: 500;
    font-size: 1.2rem;
    @include line-truncate(2, 1.4rem);
    margin-top: 1.5rem;
    color: $body-color;
}

.review-card-desc {
    margin-top: 1rem;
    @include line-truncate(2, 1.4rem);
    color: $text-muted;
}

.review-card-foot {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $border-color;
}

.rating {
}

.rating-stars {
}

.rating-stars.r25 {
}

.review-card-btn {
    color: $primary;
}
// 539.9px ->
@include media-breakpoint-down(sm) {
    .review-card {
        width: 100%;
    }
}
