.page-template-blogs .section-title {
    max-width: 500px;
    margin: 0 auto;
}

.page-template-blogs .section-title h2 {
    font-size: 36px;
    font-weight: 700;
    color: #0b111fb8;
}

.page-template-blogs .section-title p {
    color: oklch(70.7% 0.022 261.325);
    font-size: 14px;
    margin-top: 8px;
}

.blogs-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    margin-top: 16px;
}

.blogs-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.blogs-img-wrap {
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    margin-bottom: 15px;
}

.blogs-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.blogs-item:hover .blogs-img {
    transform: scale(1.05);
}

.blogs-cat {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: $primary;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    z-index: 2;
}

.blogs-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0b111fb8;
    margin: 0 0 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: color 0.2s ease;
}

.blogs-item:hover .blogs-title {
    color: $primary;
}

.blogs-desc {
    display: none;
    font-size: 16px;
    color: oklch(37.3% 0.034 259.733);
}

.grid-big .blogs-desc {
    display: block;
}

.blogs-desc p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blogs-date {
    font-size: 16px;
    color: oklch(70.7% 0.022 261.325);
    margin-top: 8px;
}

.blogs-tags-scroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 16px;
    padding: 16px;
}

.blogs-tags-wrapper {
    text-align: center;
    display: flex;
}

.blogs-tag-link {
    white-space: nowrap;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.blogs-tag-link:hover,
.blogs-tag-link.active-tag {
    color: $primary;
}

.blogs-tag-link + .blogs-tag-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15%;
    height: 70%;
    width: 2px;
    background-color: oklch(87.2% 0.01 258.338);
}

.have-search {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.have-search .reviews-list,
.have-search .sidebar-gameitems {
    padding-top: 16px;
}

.have-search .search-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.have-search .sidebar-searchgames {
    flex: 0 0 290px;
    max-width: 290px;
}

.have-search .sidebar-gameitems {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.have-search .sidebar-gameitems > a > .sidebar-gameitem {
    display: flex;
    gap: 8px;
    padding: 8px;
    box-shadow:
        0 4px 6px -1px #0000001a,
        0 2px 4px -2px #0000001a;
    background-color: #fff;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.have-search .sidebar-gameitems > a > .sidebar-gameitem:hover {
    box-shadow: 0 25px 50px -12px #00000040;
}

.have-search .sidebar-gameitems > a > .sidebar-gameitem img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
}

.have-search .sidebar-gameitems > a > .sidebar-gameitem p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

@media (max-width: 767px) {
    .blogs-tags-scroll {
        padding: 0 !important;
    }
    .have-search {
        flex-direction: column;
    }
    .have-search .sidebar-searchgames {
        max-width: 100%;
        flex: 100%;
    }
}

@media (min-width: 40rem) {
    .grid-big {
        grid-column: span 2 / span 2;
    }
    .blogs-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 48rem) {
    .grid-big {
        grid-row: span 2 / span 2;
    }
    .blogs-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
