.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 12px;
}

/* tất cả item */
.games-grid > .item {
    width: 100%;
    aspect-ratio: 1 / 1; /* giữ vuông */
    background-size: cover;
    background-position: center;
    border-radius: $border-radius-lg;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
    position: relative;

    span {
        background-color: $primary;
        color: $body-emphasis-color;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        text-align: center;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
    }

    &:hover {
        span {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

/* item lớn */
.games-grid > .item.lg {
    grid-column: span 2;
    grid-row: span 2;
}
