.container.lg {
    max-width: 1800px;
}

.game-play-layout {
    display: flex;
    gap: 1rem;
}

.game-main-content {
    width: 100%;
    flex-grow: 1;
    min-width: 800px;

    iframe {
        aspect-ratio: 16/9;
        width: 100%;
    }
}

.game-player {
}

@media (max-width: 1570.9px) {
    .game-play-layout {
        .sidebar .games-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .sidebar {
            min-width: unset;
        }
    }
}

@media (max-width: 1270.9px) {
    .game-play-layout {
        .sidebar {
            display: none;
        }
    }
}

@media (max-width: 1120.9px) {
    .game-main-content {
        min-width: unset;
    }
}

@media (max-width: 720.9px) {
    .game-main-content {
        iframe {
            aspect-ratio: 800/600;
        }
    }
}
